.site-info {
    text-align: center;
}
#woohacked-modal.hidden, #woohacked-overlay.hidden, .storefront-handheld-footer-bar.hidden, #calc_shipping_city option.hidden, #woohacked-modal .woohacked-coordinates-field.hidden, #has_no_coordinates_field{
	display: none
}
#woohacked-overlay.hidden
{
	width: 0;
	height: 0;
}
#woohacked-modal .footer{
	text-align: right
}
#woohacked-modal .footer > button.modal-btn{
	padding: 10px 60px;
	background-color: #2abb9b;
	
	border-radius: 30px;
	box-sizing: border-box;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.12);
}
#woohacked-modal .footer > button.modal-btn:focus
{
	outline-color: #00a082;
}
#woohacked-modal .header{
	font-weight: 300;
	font-size: 1.4em;
	clear: both;
	margin-bottom: 20px;
}
#woohacked-modal .header::after {
  content: "";
  clear: both;
  display: table;
}
#woohacked-modal .header > .left{
	width: 85%;
	display: inline;
	display: inline-block;
	float: left;
}
#woohacked-modal .header > .right{
	width: 15%;
	text-align: right;
	display: inline-block;
	float: right;
}
#woohacked-modal .header > .right > .close{
	width: 100%;
	display: block;
	cursor: pointer;
	color: #000;
}
#woohacked-modal
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 640px;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5); 
}
#woohacked-map
{
	width: 600px;
	max-width: 100%;
	height: 350px;
	max-height: auto;
	margin-bottom: 20px;
}
#woohacked-modal .modal-container
{
	padding: 40px 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;	
}
#woohacked-overlay
{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

.woohacked-coordinates-field::after, .woohacked-coordinates-field label::after
{
  content: "";
  clear: both;
  display: table;
}
.woohacked-coordinates-field span::after
{
	display: inline-block;
	width: 10%;
	float: left;
	content: '\f041';
	font-family: 'Font Awesome 5 Free';
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.618;
	vertical-align: baseline;
	padding: 0.6180469716em 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
	background-color: linear-gradient(307deg,#fbc033,#fcd33c);
	background-color: #fbc033;
	color: #00a082;
	text-align: center;
}

.woohacked-coordinates-field input
{
	display: inline-block;
	width: 90% !important;
	float: right;
}

.woohacked-coordinates-field input#woohacked_client_coordinates.invalid, input#billing_woohacked_client_coordinates.invalid, input#shipping_woohacked_client_coordinates.invalid
{
	outline-color: #DC143C;
	outline-style: solid;
    outline-width: 2px;	
	outline-offset: -2px;
}
.woohacked-coordinates-field input:focus
{
	outline-color: #00a082
}
.woohacked-coordinates-field input.confirmed
{
	background-color: #00a082;
	color: #fbc033;
}
.woohacked-share-links
{
	margin: 0 0 40px 0;
}

a.button
{
	padding: 0.202em 0.6180469716em;
	font-size: 100%;
	padding: 0.6180469716em 1.41575em;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	margin: 0 5px 5px 0;
}
a.button.whatsapp, a.button.whatsapp:hover
{
	border-color: #25D366;
	outline-color: #25D366;	
	background-color: #25D366;
	color: #fff;
}
a.button.facebook, a.button.facebook:hover
{
	border-color: #3b5998;
	outline-color: #3b5998;	
	background-color: #3b5998;
	color: #fff;
}
a.button.twitter, a.button.twitter:hover
{
	border-color: #00acee;
	outline-color: #00acee;	
	background-color: #00acee;
	color: #fff;
}
.select2 {
	width:100%!important;
}